{% extends 'calc/base.html' %}
{% block content %}
  <section class="about">
    <p>Instructions are simple! Just enter the size of your mainline drain,
      choose the units of measurement that you are using, then enter the size
      of the venting that will be protruding through roof, (additional vents
      can be added by clicking the <b>Add More Fields</b> button), and then
      click the <b>Calculate</b> button and a window will pop up letting you
      know whether the venting is sufficient and the area of the drain and total
      area of the vents. Click the reset button to start over.
    </p>
  </section>
{% endblock %}
