{% extends 'base.html' %}

{% block content %}

	<!-- Mobile -->
  <div class="d-md-none">
		<section class="about-mobile">
			<p>Welcome to the aggregate cross-sectional venting calculator!
				This app was created to help professionals or DIYers make
				sure that they provide sufficient venting for their plumbing
				so that everything flows smoothly and protects the health and
				and longevity of your plumbing system. Having a fully functional
				plumbing and venting system protects the occupants of the house
				from toxic gases that cause illness or even death when inhaled.
				It is critical that the collective area of all of your vent
				outlets should be equal to or greater than the are of the area
				of the mainline of your sewage system. You know how if you plug
				the top of a straw with your finger you can keep the water from
				flowing out? Thats what happens when your plumbing doesn't get
				enough air flow.
			</p>
		</section>
	</div>

	<!-- Desktop -->
	<div class="d-none d-md-block">
		<div class="container">
			<section class="about-desktop">
				<p>Welcome to the aggregate cross-sectional venting calculator!
					This app was created to help professionals or DIYers make
					sure that they provide sufficient venting for their plumbing
					so that everything flows smoothly and protects the health and
					and longevity of your plumbing system. Having a fully functional
					plumbing and venting system protects the occupants of the house
					from toxic gases that cause illness or even death when inhaled.
					It is critical that the collective area of all of your vent
					outlets should be equal to or greater than the are of the area
					of the mainline of your sewage system. You know how if you plug
					the top of a straw with your finger you can keep the water from
					flowing out? Thats what happens when your plumbing doesn't get
					enough air flow.
				</p>
			</section>
		</div>
	</div>
{% endblock %}
