{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '../static/main.css' %}">
    {% if title %}
      <title>Vent Calculator - {{ title }}</title>
    {% else %}
      <title>Vent Calculator</title>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
		<!-- Mobile -->
    <div class="d-md-none">
			<header>
				<nav>
					<div class="pt-3">
						<h1><a class="nav-col text-decoration-none" href="{% url 'calc-home' %}">CROSS-SECTIONAL VENTING<br />CALCULATOR</a></h1>
					</div>
					<div class="pt-3 pb-2">
						<a class="nav-col text-decoration-none" href="{% url 'calc-home' %}">Home&nbsp;</a>
						<a class="nav-col text-decoration-none" href="{% url 'calc-instructions' %}">&nbsp;Instructions&nbsp;</a>
						<a class="nav-col text-decoration-none" href="{% url 'calc-about' %}">&nbsp;About</a>
					</div>
				</nav>
			</header>
		</div>

		<!-- Desktop -->
		<div class="d-none d-md-block">
			<header>
				<div class="container">
					<nav>
						<div class="row pt-3 pb-4">
							<div class="col-6 pt-1 pb-1 text-start">
								<a class="nav-col text-decoration-none h2" href="{% url 'calc-home' %}">VENTING CALCULATOR</a>
							</div>
							<div class="col-6 pt-3 text-end">
								<a class="nav-col text-decoration-none h5" href="{% url 'calc-home' %}">Home&nbsp;</a>
								<a class="nav-col text-decoration-none h5" href="{% url 'calc-instructions' %}">&nbsp;Instructions&nbsp;</a>
								<a class="nav-col text-decoration-none h5" href="{% url 'calc-about' %}">&nbsp;About</a>
							</div>
						</div>
					</nav>
				</div>
			</header>
		</div>
    <div>
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
