{% extends 'base.html' %}

{% block content %}

	<!-- Mobile -->
  <div class="d-md-none">
		<div class="container">
			<section class="pt-5 pb-5">
				<div class="row">
					<div class="col-12">
						<form id="calc-form-m" onsubmit="calculateMobile(); return false;">
							<!-- Mainline -->
							<div class="row">
								<div class="col-12 px-4">
									<label for="drain-inp-m" class="fw-bold mb-2">Enter mainline drain size:</label><br />
									<input id="drain-inp-m" class="form-control mb-2" type="number" step="0.25" min="0" name="drain[]" placeholder="e.g. 4" required>
								</div>
							</div>
							<!-- Units of measurement -->
							<div class="row">
								<div class="col-12 px-4">
									<label for="inch-m" class="form-check-label mb-1">
										<input id="inch-m" class="form-check-input" type="radio" name="in-mm" value="in"required>&nbsp;Inches(in)
									</label><br />
									<label for="millimeter-m" class="form-check-label mb-2">
										<input id="millimeter-m" class="form-check-input" type="radio" name="in-mm" value="mm" required>&nbsp;Millimeters(mm)
									</label>
								</div>
							</div>
							<!-- Vent sizes -->
							<div class="row">
								<div class="col-12 px-4">
									<label class="fw-bold mb-2">Enter vent size(s):</label>
									<div class="input_fields_wrap_m">
										<input class="v-size-m form-control mb-3" type="number" step="0.25" min="0" name="mytext[]" placeholder="e.g. 1.5" required><button type="button" class="add_field_button_m btn btn-blue-mobile mb-3">Add More Fields</button>
									</div>
								</div>
							</div>
							<!-- Calculate and reset buttons -->
							<div class="row">
								<div class="col-12 px-4 mb-2">
									<div class="calculate-wrap">
										<button type="submit" class="calculate calc-btn-mobile btn mb-2">Calculate</button>
									</div>
									<div>
										<button type="reset" class="btn btn-blue-mobile mb-1 reset-btn" onclick="resetMobile()">Reset Form</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- Response -->
					<div class="col-12">
						<div id="response-mobile" class="col-12 px-3 mt-5 mb-1">
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- History -->
		<div id="hist_cont_m" class="container">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-12 px-4">
							<button id="clear_history_btn_m" type="button">Clear history</button>
							<button id="history_btn_m" type="button" class="w-100 btn mt-2 mb-3">
								Show history
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 px-4">
					<div id="history-wrap-m">
						<div class="row">
							<p id="nothing-m" class="pt-1">
								Nothing to show
							</p>
							<div id="drain-history-m" class="col-6">
								<p class="pt-1 mb-2">
									&nbsp;<b>Drain size: </b>
								</p>
							</div>
							<div id="vent-history-m" class="col-6">
								<p class="pt-1 mb-2">
									<b>Vent size(s): </b>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Desktop -->
  <div class="d-none d-md-block">
		<div class="container">
			<section class="pt-5 pb-5">
				<div class="row">
					<div class="col-6">
						<form id="calc-form-d" onsubmit="calculateDesktop(); return false;">
							<!-- Mainline -->
							<div class="row">
								<div class="col-12 px-4">
									<label for="drain-inp-d" class="fw-bold mb-2">Enter mainline drain size:</label><br />
									<input id="drain-inp-d" class="form-control mb-2" type="number" step="0.25" min="0" name="drain[]" placeholder="e.g. 4" required>
								</div>
							</div>
							<!-- Units of measurement -->
							<div class="row">
								<div class="col-12 px-4">
									<label for="inch-d" class="form-check-label mb-1">
										<input id="inch-d" class="form-check-input" type="radio" name="in-mm" value="in"required>&nbsp;Inches(in)
									</label><br />
									<label for="millimeter-d" class="form-check-label mb-2">
										<input id="millimeter-d" class="form-check-input" type="radio" name="in-mm" value="mm" required>&nbsp;Millimeters(mm)
									</label>
								</div>
							</div>
							<!-- Vent sizes -->
							<div class="row">
								<div class="col-12 px-4">
									<label class="fw-bold mb-2">Enter vent size(s):</label>
									<div class="input_fields_wrap_d">
										<input class="v-size-d form-control mb-3" type="number" step="0.25" min="0" name="mytext[]" placeholder="e.g. 1.5" required><button type="button" class="add_field_button_d btn btn-blue mb-3">Add More Fields</button>
									</div>
								</div>
							</div>
							<!-- Calculate and reset buttons -->
							<div class="row">
								<div class="col-12 px-4 mb-2">
									<div class="calculate-wrap">
										<button type="submit" class="calculate calc-btn btn mb-2">Calculate</button>
									</div>
									<div>
										<button type="reset" class="btn btn-blue mb-1 reset-btn" onclick="resetDesktop()">Reset Form</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- Response -->
					<div class="col-6">
						<div id="response-desktop" class="col-12 px-4 mb-1">
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- History -->
		<div id="hist_cont_d" class="container" x-data="{ open: false }">
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-12 px-4">
							<button id="clear_history_btn_d" type="button">Clear history</button>
							<button id="history_btn_d" type="button" class="w-100 btn mt-1 mb-3" x-on:click="open = !open" :aria-expanded="open ? 'true': 'false'" :class="{ 'active': open }">
								Show history
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6 px-4">
					<div id="history-wrap-d"
							 x-show="open"
               x-transition:enter="transition ease-out duration-200"
               x-transition:enter-start="opacity-0 transform scale-95"
               x-transition:enter-end="opacity-100 transform scale-100"
               x-transition:leave="transition ease-in duration-200"
               x-transition:leave-start="opacity-100 transform scale-100"
               x-transition:leave-end="opacity-0 transform scale-95">
						<div class="row">
							<p id="nothing-d" class="pt-1">
								Nothing to show
							</p>
							<div id="drain-history-d" class="col-6">
								<p class="pt-1 mb-2">
									&nbsp;<b>Drain size: </b>
								</p>
							</div>
							<div id="vent-history-d" class="col-6">
								<p class="pt-1 mb-2">
									<b>Vent size(s): </b>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
  	{% include 'home.js' %}
	</script>

{% endblock %}
